.mainComtainer {
  padding: 25px 30px;
}
.header_main {
  margin-bottom: 20px;
}
.header_main h4 {
  font-size: 35px !important;
  color: var(--dashboard-main-color);
  font-family: "Bebas-Neue-bold" !important;
}
.inputDiv {
  margin-bottom: 24px;
}
.btnDiv {
  display: flex;
  justify-content: center;
}
.btnDiv button {
  font-size: 15px !important;
  border-radius: 10px;
  outline: none;
  border: none;
  font-family: "Open-Sans-medium" !important;
  background-color: var(--dashboard-main-color) !important;
  color: var(--white-color) !important;
  height: 42px;
  padding: 0 14px;
}
