.add_task_main {
  padding: 0 60px;
}
.add_task_btn {
  width: 100%;
  background-color: var(--dashboard-main-color);
  font-family: "Open-Sans-bold" !important;
  font-size: 13px !important;
}
.add_task_main h4 {
  color: var(--dashboard-main-color);
  font-family: "Open-Sans-bold" !important;
  text-align: center;
  margin-bottom: 30px;
}
.input_main {
  margin-top: 20px;
}
.add_task_btn_main {
  margin-top: 20px;
}
