.labelText {
  margin-bottom: 10px;
  color: var(--main-color);
  text-transform: capitalize;
  font-family: "Bebas-Neue-bold";
  font-size: 30px;
}

.inputDiv {
  position: relative;
  display: flex;
  background-color: var(--white-color);
  border-radius: 0px;
  border: 1px solid #000;
}

.comboboxInput {
  font-family: "Open-Sans-regular";
  font-size: 16px;
  color: var(--text-color-black);
  letter-spacing: 1.4px;
  border-radius: inherit;
  background-color: inherit;
  padding: 15px;
  width: 100%;
}

.inputDiv input {
  background-color: inherit;
}

.leftIcon {
  position: absolute;
  left: 20px;
  top: 60%;
  bottom: 45%;
  transform: translateY(-50%);
  height: max-content;
}

.inputDiv input::placeholder {
  color: var(--placeholder-color);
  font-family: "Open-Sans-medium";
  font-size: 16px;
  text-transform: capitalize;
}

.comboBoxList {
  position: absolute;
  background: #fff;
  top: 100%;
  z-index: 9999;
  border: 1px solid #000;
}