.signupModal {
  width: 100%;
  margin: 0 auto;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
  padding: 50px 70px !important;
  background-color: var(--white-color);
  border-radius: inherit;
}

.SignupText h3 {
  font-family: "Bebas-Neue-bold";
  color: var(--main-color);
  font-size: 53px;
  text-align: center;
}

.SignupBtn {
  padding: 0px;
  margin: 20px 0 0 0;
  height: 58px;
  width: 100% !important;
}

.inputCol {
  margin: 16px 0;
}

.SignUpDiv {
  margin: 32px 0 0 0;
  font-family: "Open-Sans-semiBold";
  font-size: 18px;
  text-align: center;
}

.SignUpText {
  font-size: 18px;
  font-family: "Open-Sans-semiBold";
  color: var(--bs-link-color);
  text-decoration: underline;
  cursor: pointer;
}

.checkCol {
  margin: 24px 0 8px 0;
}

@media screen and (max-width: 768px) {
  .signupModal {
    padding: 40px 50px !important;
  }
}

@media (max-width: 578px) {
  .signupModal {
    padding: 30px !important;
  }

  .SignupText h3 {
    font-size: 40px;
  }
}
