.mainHead {
  font-size: 18px;
  font-family: "Open-Sans-bold";
  color: var(--dashboard-main-color);
  margin-bottom: 5px;
  flex-shrink: 0;
}

.text {
  font-size: 16px !important;
  color: var(--text-color-black);
  margin: 3px 0 5px 0;
  width: 100%;
  white-space: pre-wrap;
  text-transform: capitalize;
}
.timeText {
  font-size: 16px !important;
  color: var(--text-color-black);
  margin: 3px 0 5px 0;
  width: 100%;
  white-space: pre-wrap;
}

.viewEventMain {
  display: flex;
  gap: 10px;
  align-items: baseline;
}
.profileImg {
  width: 47px;
  height: 47px;
  background-color: #d6d6d6;
  border: 1px solid #929eaa;
  border-radius: 50%;
}
.profileImg img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
.attendeesDiv {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}
.attendeesDiv div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
