.heroBackground {
  background: transparent linear-gradient(90deg, #2c2c2c 0%, #016fbc 100%) 0% 0%
    no-repeat padding-box;
}

.heroContainer {
  padding: 60px 0;
}

.heroHeader {
  color: #ffffff;
  font-family: "Bebas-Neue-bold";
  text-align: center;
}

.main_row {
  margin: 40px 0;
}

.accordion_col {
  box-shadow: 0px 5px 10px #0000005e;
  padding: 35px;
  margin: 50px 0;
}

.main_conti {
  max-width: 81%;
}

.accord_head svg {
  font-size: 40px;
}

.accord_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card_main {
  border-radius: 0;
  margin-bottom: 20px;
  border-color: #d9d9d9;
  padding: 10px 0px;
}

.accordion_col p {
  margin-bottom: 40px;
}

.accordion_col h4 {
  margin-bottom: 20px;
  color: var(--main-color);
}

.faq_hero {
  display: none;
}

@media screen and (max-width: 768px) {
  .main_conti {
    max-width: 90% !important;
    width: 90% !important;
  }
}

@media screen and (max-width: 375px) {
  .main_conti {
    max-width: 96% !important;
    width: 96% !important;
  }
}

@media screen and (max-width: 400px) {
  .accordion_col {
    padding: 20px;
  }
}
